.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.h2 {
  text-align: left;
}

.auth-box1 {
  background: #fff;
  border: 3px solid rgb(7, 7, 10);
  padding: 20px;
  margin: 50px 0;
  border-radius: 5px;
  padding-left: 0x;
  margin-left: 400px;
  margin-right: 400px;
  padding-right: 0px;
}
.auth-box0 {
  background: #fff;
  border: 1px solid rgb(7, 7, 10);
  border-radius: 5px;
  margin-left: 300px;
  margin-right: 300px;
}

.bg {
  background-color: #d1caca;
}
.Box-model {
  padding-right: 20px;
  height: 32px;
}
.container {
  width: fit-content;
  /* padding-left: inherit; */
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
}
.c {
  text-transform: capitalize;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}
@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* .table {
    widows: 100%;
  } */
.required {
  color: red;
}
.css-serial {
  counter-reset: serial-number; /* Set the serial number counter to 0 */
}
.css-serial td:first-child::before {
  counter-increment: serial-number; /* Increment the serial number counter */
  content: counter(serial-number); /* Display the counter */
}
.M {
  margin-top: 12px;
}
.image1 {
  width: 400px;
  height: 450px;
}
.dialog {
  margin: auto;
  display: block;
}
.mg {
  padding-right: 30px;
  padding-left: 15px;
}
.mg1 {
  padding-left: 100px;
}
.mg2 {
  /* padding-left: 122px; */
  padding-left: 250px;
}
.mg3 {
  /* margin-left: "265px"; */
  padding-left: "150px";
}
.primary {
  min-width: 150px;
  border-radius: 0;
  font-size: 15px;
  font-weight: 600;
  border: 1px solid #b1acc2 !important;
  background: #111;
  color: #433b6d;
  position: relative;
}
.icons {
  font-size: 38px;
  font-weight: 600;
  color: #989898;
  padding-left: 490px;
  padding-bottom: 12px;
  padding-top: 12px;
}
.bans {
  font-style: normal;
  font-weight: 400;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flax-center {
  margin: 30px auto;
  background-origin: 10px solid white;
  justify-content: center;
  height: 40px;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
}
.top {
  padding-top: 5px;
  padding-right: 3px;
}
.active {
  background: rgb(185, 37, 37);
  font-weight: 200px;
  background-color: none;
  background: none;
  font-weight: bold;
  border-bottom: 2px solid rgb(41, 5, 245);
}
.email {
  width: 100%;
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: 30px;
  margin-top: 30px;
}
.input-group {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.login_loginContainer__2JMrT1 {
  display: flex;
  -ms-flex-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  height: 100vh;
  /* background: url(http://192.168.2.119:3001/static/media/Login_Bg.9c4b2b39.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  /* margin: auto; */
}
.login_formSignin__27WMl {
  width: 100%;
  max-width: 500px;
  padding: 10px 25px;
  margin: auto;
  border-radius: 4px;
  background-color: #fff;
}
.login_login_header__3FYY0 {
  display: flex;
  font-family: FrutigerNeueLTPro-Bold;
  padding: 10px;
  padding-left: 40px;
  /* text-align: center; */
}
.login_subhead__e1IaE {
  color: #797979;
  font-size: 14px;
  font-family: FrutigerNeueLTPro-Regular;
  text-align: center;
  padding-bottom: 10px;
}
.left1 {
  padding-left: 90px;
}

.a {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5spx;
  padding-right: 150px;
  margin-left: 5px;
}
.product {
  text-align: "center";
}
.b {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  padding-left: 150px;
}
.c {
  padding-left: 110px;
}
.forgotPassword_forgotFormSignin__adusv {
  width: 100%;
  max-width: 400px;
  padding: 10px 25px;
  margin: auto;
  border-radius: 4px;
  background-color: white;
}
.btn-block {
  display: block;
  width: 100%;
  margin-left: 5px;
}
.d {
  margin-left: 5px;
}

.e {
  padding-left: 490px;
  padding-top: 14px;
}
.f {
  padding-left: 0px;
  padding-right: 0px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.h2 {
  text-align: left;
}

.auth-box1 {
  background: #fff;
  border: 3px solid rgb(7, 7, 10);
  padding: 20px;
  margin: 50px 0;
  border-radius: 5px;
  padding-left: 40x;
  margin-left: 400px;
  margin-right: 400px;
  padding-right: 20px;
}

.bg {
  background-color: #d1caca;
}
.Box-model {
  padding-right: 20px;
  height: 32px;
}
.container {
  width: fit-content;
  padding-left: inherit;
  margin-right: auto;

  margin-left: auto;
}
.c {
  text-transform: capitalize;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}
@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* .table {
    widows: 100%;
  } */
.required {
  color: red;
}
.css-serial {
  counter-reset: serial-number; /* Set the serial number counter to 0 */
}
.css-serial td:first-child::before {
  counter-increment: serial-number; /* Increment the serial number counter */
  content: counter(serial-number); /* Display the counter */
}
.M {
  margin-top: 12px;
}
.image1 {
  width: 400px;
  height: 450px;
}
.dialog {
  margin: auto;
  display: block;
}
.mg {
  padding-right: 30px;
  padding-left: 15px;
}
.mg1 {
  padding-left: 100px;
}
.mg2 {
  /* padding-left: 122px; */
  padding-left: 250px;
}
.mg3 {
  /* margin-left: "265px"; */
  padding-left: "150px";
}
.primary {
  min-width: 150px;
  border-radius: 0;
  font-size: 15px;
  font-weight: 600;
  border: 1px solid #b1acc2 !important;
  background: #111;
  color: #433b6d;
  position: relative;
}
.icons {
  font-size: 38px;
  font-weight: 600;
  color: #989898;
  padding-left: 600px;
  padding-bottom: 12px;
  padding-top: 12px;
}
.bans {
  font-style: normal;
  font-weight: 400;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flax-center {
  margin: 30px auto;
  background-origin: 10px solid white;
  justify-content: center;
  height: 40px;
  display: flex;
  padding-right: 10px;
}
.top {
  padding-top: 5px;
  padding-right: 3px;
}
.active {
  background: rgb(185, 37, 37);
  font-weight: 200px;
  background-color: none;
  background: none;
  font-weight: bold;
  border-bottom: 2px solid rgb(41, 5, 245);
}
.email {
  width: 100%;
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: 30px;
  margin-top: 30px;
}
.input-group {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.login_loginContainer__2JMrT {
  display: flex;
  -ms-flex-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  height: 100vh;
  background: url(./abc.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  /* margin: auto; */
}
.login_loginContainer__2JMrT2 {
  display: flex;
  -ms-flex-align: center;
  /* padding-top: 40px;
  padding-bottom: 40px; */
  background-color: #f5f5f5;
  /* height: 100vh; */
  /* background: url(./password2.png.); */
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
  /* margin: auto; */
}
.login_formSignin__27WMl {
  width: 100%;
  max-width: 400px;
  padding: 10px 25px;
  margin: auto;
  border-radius: 4px;
  background-color: #fff;
}
.login_login_header__3FYY0 {
  display: flex;
  font-family: FrutigerNeueLTPro-Bold;
  padding: 10px;
  padding-left: 40px;
  /* text-align: center; */
}
.login_subhead__e1IaE {
  color: #797979;
  font-size: 14px;
  font-family: FrutigerNeueLTPro-Regular;
  text-align: center;
  padding-bottom: 10px;
}
.left {
  padding-left: 180px;
}

.a {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 150px;
  margin-left: 0px;
}
.b {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  padding-left: 150px;
}
.c {
  padding-left: 110px;
}
.forgotPassword_forgotFormSignin__adusv {
  width: 100%;
  max-width: 400px;
  padding: 10px 25px;
  margin: auto;
  border-radius: 4px;
  background-color: white;
}
.btn-block {
  display: block;
  width: 100%;
  margin-left: 5px;
}
.d {
  margin-left: 5px;
}
.add-category-css {
  display: flex;
  -ms-flex-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  height: 100vh;
  /* background: url(./bgimg.jpeg); */
  background-repeat: no-repeat;
  background-size: cover;
  /* margin: auto; */
}
.image {
  margin-left: 120px;
  float: right;
}
.add-product-css {
  display: flex;
  -ms-flex-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  height: 100vh;
  background: url(./bgimg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* margin: auto; */
}

.h {
  margin-left: 35px;
}

.table {
  margin-top: 40px;
}
.header1 {
  margin-left: 940px;
  margin-bottom: 2px;
}
.filter {
  margin-left: 10px;
}

.key {
  padding-left: 0px;
}
.preview {
  margin-left: 100px;
}
.modal {
  display: block;
  padding-left: 10px;
  margin-bottom: 20px;
  margin-top: 100px;
  padding-right: 20px;
  margin-right: 20px;
}
.image3 {
  margin-right: 255px;
}
.rig {
  margin-right: 400px;
}
.tag {
  margin-left: 0px;
  width: 100%;
}
.container1 {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

/* .modal1 {
  background: url(./pink.jpg);
} */
.bottom {
  margin-bottom: 30px;
}
.cancel {
  margin-left: 200px;
}
/* .bg56 {
  background: ;
} */
.bg55 {
  background: #48504d;
  /* padding-bottom: 2px; */
  padding-bottom: 13px;
}

.background-btn {
  color: #f1f6f8;
  border-color: #f1f5f6;
}
.bttn {
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 12px;
}
.forgot {
  padding-left: 40px;
}
.goBack {
  margin-top: 12px;
}
.category-update {
  margin-left: 300px;
  margin-top: 80px;
  margin-bottom: 100px;
}
.user-updated {
  margin-left: 222px;
  margin-top: 40px;
}
.btttn {
  padding-top: 4px;

  margin-top: 12px;

  margin-bottom: 12px;
  padding-left: 4px;
  padding-right: 4px;

  width: 40%;
  font-size: medium;
  margin-left: 16px;
  /* margin-top: 0px; */
}
.link {
  /* margin-top: 17px; */
  font-size: medium;
}
.link1 {
  margin-top: 17px;
  font-size: medium;
}
.forgot22 {
  margin-left: 9px;
  margin-top: 0px;
}
.user12 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.forgot221 {
  margin-top: 12px;
  margin-bottom: 0px;
}
